body {
    background: linear-gradient(to bottom right, #dbeafe, #f0f9ff);
    min-height: 100vh;
  }
  
  h1, h2, p {
    font-size: 2rem;
  }
  
  .btn-lg {
    font-size: 1.5rem;
  }
  
  input[type="text"] {
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
  }
  
  #lives {
    font-size: 2rem;
    color: red;
  }
  
  #feedback {
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .correct {
    background-color: rgba(0, 255, 0, 0.3);
  }
  
  #levelIndicator {
    font-size: 1.5rem;
  }
  